@media only screen and (max-width: 1024px) {
    /* NAV */
    nav ul a {
        font-size: 28px;
    }

    /* MAIN */
    main {
        margin-top: 40vh;
    }

    /* GAMES CONTAINER */
    .games-container {
        grid-template-columns: 1fr 1fr;
    }

    .games-container .game img:nth-child(2) {
        height: 25vh;
    }

    .games-container .game:nth-child(5), 
    .games-container .game:nth-child(6) {
        display: none;
    }
    
    /* ABOUT */
    #about {
        display: block;
    }

    #about article h2 {
        font-size: 10vw;
    }

    #about article p {
        font-size: 5vw;
        line-height: 6vw;
    }

    /* CONTACT */
    #contact {
        color: white;
        box-shadow: 0px -10px 10px #0e011a7c;
        padding-top: 20px;
    }
     
    #contact section+img {
        display: none;
    }

    #contact #contact-info {
        display: block;
    }

    #contact #contact-info article div {
        grid-template-rows: auto auto 1fr;
        row-gap: 20px;
    }

    #contact #contact-info article+img,
    #contact #contact-info iframe {
        display: none;
    }

    #contact #contact-info article h2 {
        font-size: 8vw;
        margin-bottom: 20px;
    }

    #contact #contact-info article div p {
        font-size: 5vw;
    }

    #contact #contact-info article div p:nth-child(6) {
        line-height: 8vw;
    }

    /* FOOTER */
    footer p {
        font-size: 4vw;
    }
    
    /* ALL GAMES */
    #all-games {
        padding-top: 15vh;
    }

    #all-games > section {
        display: block;
    }

    #game-category-title {
        font-size: 12vw;
        text-align: center;
        margin-bottom: 10px;
    }

    .searchbar-container {
        display: block;
    }

    .category-options {
        display: block;
    }

    .category-options p:nth-child(1) {
        padding-top: 10px;
    }
    
    .category-options p {
        font-size: 6vw;
        margin: auto;
        margin-bottom: 10px;
    }

    .category-options p.selected {
        width: 50%;
    }

    .search-input {
        width: 95%;
        margin: auto;
        font-size: 6vw;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 480px) {

    /* NAV */
    nav {
        background-color: #22043c;
        top: -2px;
        gap: 20px;
        padding: 20px 0;
        box-shadow: 0px 10px 10px #0e011a7c;
    }

    nav .icon {
        display: block;
        width: 50px;
        height: 50px;
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 100000;
        color: white;
        background-image: url(../../public/images/assets/menu_icon.png);
        justify-self: center;
        align-self: center;
        border: none;
    }

    nav ul {
        display: none;
        width: 100%;
    }

    nav ul.open {
        display: grid !important;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 1fr);
        grid-column: 1/2;
        grid-row: 2/3;
        padding-bottom: 50px;
    }

    nav ul a {
        font-size: 6vh;
    }

    nav ul a:nth-child(2),
    nav ul a:nth-child(3) {
        display: none;
    }

    nav div {
        display: none;
    }

    /* HEADER */
    header {
        height: 20vh;
        margin-top: 10vh;
        top: 20%;
    }

    header h2 {
        display: none;
    }

    /* MAIN */
    main {
        margin-top: 30vh;
    }

    main #new-games h2 {
        font-size: 14vw;
        text-align: center;
        margin-bottom: 20px;
    }

    /* GAMES-CONTAINER */
    .games-container {
        display: block;
    }

    .games-container a.game {
        padding-bottom: 5vh;
    }

    .games-container .game img:nth-child(2) {
        height: 20vh;
    }

    /* MAIN - NEW GAMES */
    main #new-games {
        background-size: 100% 100%;
    }

    main #new-games .games-container .game:nth-child(3) {
        margin-bottom: 0;
    }

    main #new-games .games-container .game:nth-child(4),
    main #new-games .games-container .game:nth-child(5),
    main #new-games .games-container .game:nth-child(6) {
        display: none;
    }

    main div.planetBottom {
        background-color: #22043c;
    }

    main div.planetBottom a {
        width: 65%;
        font-size: 8vw;
        padding: 20px 0;
        margin: 0 auto auto auto;
    }

    /* ABOUT */
    #about {
        display: block;
        padding-bottom: 20px;
    }

    #about article {
        margin-bottom: 40px;
        gap: 0;
    }

    #about article h2 {
        font-size: 14vw;
    }

    #about article p {
        font-size: 3.5vw;
        line-height: 6.5vw;
    }

    #about article:nth-child(1) img {
        margin-top: -10px;
    }

    /* CONTACT */
    #contact {
        color: white;
        box-shadow: 0px -10px 10px #0e011a7c;
        padding-top: 20px;
    }
     
    #contact section+img {
        display: none;
    }

    #contact #contact-info {
        display: block;
    }

    #contact #contact-info article div {
        grid-template-rows: auto auto 1fr;
        row-gap: 20px;
    }

    #contact #contact-info article+img,
    #contact #contact-info iframe {
        display: none;
    }

    #contact #contact-info article h2 {
        font-size: 8vw;
        margin-bottom: 20px;
    }

    #contact #contact-info article div p {
        font-size: 5vw;
    }

    #contact #contact-info article div p:nth-child(6) {
        line-height: 8vw;
    }

    /* FOOTER */
    footer {
        background-color: #0e011a7c;
        padding: 10px 0;
    }

    footer p {
        font-size: 5vw;
    }

    /* ALL GAMES */
    #all-games {
        padding-top: 15vh;
    }

    #all-games > section {
        display: block;
    }

    #game-category-title {
        font-size: 15vw;
        text-align: center;
        margin-bottom: 10px;
    }

    .searchbar-container {
        display: block;
    }

    .category-options {
        display: block;
    }

    .category-options p:nth-child(1) {
        padding-top: 10px;
    }
    
    .category-options p {
        font-size: 6vw;
        margin: auto;
        margin-bottom: 10px;
    }

    .category-options p.selected {
        width: 50%;
    }

    .search-input {
        width: 90%;
        font-size: 6vw;
        margin-top: 20px;
    }
}